CompileFlags:
  // Add: -Wno-unknown-warning-option
  Remove: [-mpreferred-stack-boundary=3, -mindirect-branch=thunk-extern, -mindirect-branch-register, -fno-allow-store-data-races, -fconserve-stack, -mrecord-mcount, -fmin-function-alignment=16]